.inquiry {
	height: 100%;
	/* background-color: aqua; */
	padding: 10px;
}
.inquiry_wrap {
	height: 100%;
	/* background-color: violet; */
}

/* 문의하기 */
.inquiry_select_content {
	border-bottom: 2px solid rgb(207, 207, 207);
	margin: 0px 20px;
	padding: 20px 20px 10px 10px;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.inquiry_select_bar {
	font-size: 1.6rem;
	width: 12rem;
}

.inquiry_content_title {
	font-size: 2.3rem;
}

/* 문의내역 리스트 */
.inquiry_content {
 
	/* background-color: cadetblue; */
	padding:20px;
}
.inquiry_content_wrap{
	height: 100%;
	/* background-color: rgb(181, 178, 178); */
}
.inquiry_main_title {
	font-size: 2.3rem;
	padding : 0rem 0rem 3rem 3rem;
}
.inquiry_table_wrap {
	height: 20rem;
}
.inquiry_title_table {
	text-align: center;
	font-size: 1.4rem;
}

.inquiry_title_tr {
	text-align: center;
	height: 100%;
}

