
.form-control:focus{
    outline: none !important;
    border-color: #8ec657;
    box-shadow: 0 0 10px #c1e39e;
    border-radius: 3px;
}
.wrap {
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
}
.inner_wrap {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;

}

/* 소개 */
.introduction {
    height: 30%;
    width: 100%;

}
.introduction_top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.title {
    padding: 15px 0px 0px 15px;
    font-size: 2.3rem;

}
.profil_introduction_main {
    width: 100%;
    height: 100%;
}
.profil_main_title {
    padding: 5px 0px 10px 15px;
    font-weight: 500px;
    font-size: 2rem;
}
.profil_main_contents {
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
}

.division_line {
    border: 1px solid rgb(186, 186, 186);
}


/* 토론 후기 */
.review {
    width: 100%;
    height: 70%;
}
.list {
    height: 100%;
    padding: 10px;
}
.review_list {
    height: 100%;
    width: 100%;
}
.review_link_component {
    display:flex;
    text-decoration:none;
    width: 100%;
    color: black;
}

.review_link_inner {
    border: 1px solid rgb(154, 154, 159);
    border-radius: 8px;
    margin-bottom: 2px;
    padding: 7px;
    width: 100%;
    
}
.review_link_inner:hover {
    color: rgb(49, 129, 41);;
    background-color:  rgb(208, 245, 170);
}
