
.record{
    height: 100%;
    width: 100%;
    padding: 10px;
    /* background-color: antiquewhite; */
    font-weight: 500;
}
.record_wrap {
    height: 100%;
    /* background-color: burlywood; */
}
/* 타이틀 */
.record_title {
    /* background-color: aqua; */
    /* height: 5%; */
    border-bottom: 2px solid rgb(207, 207, 207);
	/* border-radius: 8px; */
	padding: 20px;
    margin: 0px 20px;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.record_select_bar {
    font-size: 1.6rem;
	width: 12rem;
}
.record_main {
    /* background-color: cadetblue; */
}

/* RecordDetail 페이지 */
.record_detail_wrap {
    padding:20px;
}
.record_detail_title {
    font-weight: 500;
    font-size: 2.3rem;
	padding : 0rem 0rem 3rem 3rem;
}
.record_table_wrap {
	height: 20rem;
}
.record_title_table {
	text-align: center;
	font-size: 1.4rem;
    /* background-color: antiquewhite; */
}

.record_title_tr {
	text-align: center;
    background-color: #4baf3a;
	height: 100%;
}


/* RecordCancel 페이지 */
.record_cancel_wrap {
    height: 100%;
    padding: 20px;
    /* background-color: chartreuse; */
}
.record_cancel_title {
    font-size: 2.3rem;
	padding : 0rem 0rem 3rem 3rem;
}
.record_cancel_content_wrap {
    padding: 20px;
    /* background-color: blueviolet; */
    height: 45.5rem;
    min-width: 40rem;
}
.record_cancel_box_wrap {
    height: 20rem;
    text-align: center; 
    border: 2px solid black;
    border-radius : 10px;
    width: 100%;
    transition: all 0.2s linear;
    background-color: aqua;

}
.record_cancel_box_wrap :hover {
    transform: scale(1.03);
}
.record_cancel_a {
    transition: all 0.2s linear;
}
.record_cancel_a :hover{
    transform: scale(1.01); 
    /* box-shadow: 10px 5px 5px rgb(0 0 0 / 50%); */
    box-shadow: 0.5rem 0.5rem 2rem 0rem rgb(0 0 0 / 40%);
}