html,
body {
  position: relative;
  height: 100%;
}

body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-container{
  background: #eee;
  padding:10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 300px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-list-title{
    font-size:large;
    font-weight: bold;
    text-align: center;
    margin-top: 4%;
    margin-bottom:2%;
}
.bottom-information{
  margin-top: 10%;
  font-size: 30px;
}
.swiper-button-prev{
  color : black;
}
.swiper-button-next{
  color : black;
}
.swiper-pagination-bullet{
  color:black;
}
.navbar-brand{
  margin-bottom:7px;
}
.home{
  Color : rgb(29, 185, 5);
  font-weight: bold;
  font-size:30px;
  text-decoration-line: none;
  margin-left : 10px;
}
.nav-link{
  color:black;
  font-size:18px;
}
.navbar{
  height:80px;
}
#calendar{
  width : 40px;
  height : 40px;
  margin-right: 10px;
}
.line{
  margin: 0;
}
.dropdown-toggle::after {
  content: none;
}
.login-container{
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
}
.intro{
  margin-left:20px;
  flex: 7 0;
  color:rgb(116, 116, 116)
}
.writing{
  display:flex;
  justify-content: end;
  margin-right: 1%;
  color:rgb(116, 116, 116);
  text-decoration: none;
}
.login{
  display:flex;
  justify-content: end;
  margin-right: 1%;
  color:rgb(116, 116, 116);
  text-decoration: none;
}
.join{
  display:flex;
  justify-content: end;
  margin-right: 1%;
  color:rgb(116, 116, 116);
  text-decoration: none;
}
.mypage{
  display:flex;
  justify-content: end;
  margin-right: 1%;
  color:rgb(116, 116, 116);
  text-decoration: none;
}